* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: rgb(80,151,255);
    background: linear-gradient(48deg, rgba(80,151,255,1) 0%, rgba(251,82,131,1) 100%);
    background-size: cover;
    

    display: flex;
    align-content: center;
    justify-content: center;
    height: 95vh;
}

.container {
    width: 80%;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2); 
    background: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow: hidden;
}

nav {
    width: 100%;
    text-align: right;
}

li {
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}

.nav-link {
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.nav-link:hover {
    color: #fb5283;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    margin: 30px 20px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
}

.column-1 {
    margin-left: 50px;
    position: relative;
}

.column-1 h2 {
    font-size: 54px;
}

.column-1 h3 {
    font-size: 30px;
    color: #525050fe;
    font-weight: 100;
    margin: 20px 0;
}

.column-1 p {
    font-size: 16px;
    color: #b7b7b7;
    font-weight: 100;
}

.column-1 h4 {
    font-size: 20px;
    color: black;
    margin: 30px 0;
}

.column-1::before {
    content: "";
    width: 10px;
    height: 57%;
    background: linear-gradient(#ff469f, #ff6062);
    position: absolute;
    left: -40px;
    top: 8px;
}

.buy {
    width: 140px;
    border: none;
    padding: 12px 10px;
    outline: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    background: linear-gradient(to right, #fb5283, #ff3527);
    z-index: 2;
}

.column-2 {
    display: flex;
    align-items: center;
    position: relative;
}

.controller {
    width: 90%;
    z-index: 2;
}

.add-cart {
    z-index: 2;
    border: none;
    background: transparent;
    cursor: pointer;
    height: 30px;
    width: 30px;
}

.add-cart img {
    height: 45px;
    width: 45px;
}

.color-box {
    position: absolute;
    right: 0;
    top: 0;
    background: linear-gradient(#ff54a2, #ff575a );
    height: 100%;
    width: 80%;
    border-radius: 20px 0 0 20px;
    z-index: 1;
    transform: translateX(150px);
}

.social-links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-links img {
    height: 30px;
    margin: 20px;
    cursor: pointer;
}

.menu-icon {
    height: 25px;
    margin-right: 20px;
    display: none;
}


/* Responsividade */

@media (max-width: 760px){
   #menu-list {
    display: none;
   }

   .menu-icon {
    display: block;
   }
}